<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Covid Vaccination</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-
beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
crossorigin="anonymous">
</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vaccination</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login-as
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href={% url 'login_user' %}>User</a></li>
              <li><a class="dropdown-item" href="/admin">Admin</a></li>
            </ul>
          </li>
        </ul>
        <form  method = "get" action="/search" class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<h1 class="text-center text-success">User Registration</h1>
<div class="container-fluid">
<form action="{% url "register" %}" method="POST" class="row g-3">
{% csrf_token %}
<div class="col-md-6">
<label for="inputEmail4" class="form-label">First Name</label>
<input name="first_name" type="text" class="form-control" id="">
</div>
<div class="col-md-6">
<label for="inputEmail4" class="form-label">Last Name</label>
<input name="last_name" type="text" class="form-control" id="">
</div>
<div class="col-md-6">
<label for="inputEmail4" class="form-label">Email</label>
<input name="email" type="email" class="form-control"
id="inputEmail4">
</div>
<div class="col-md-6">
<label for="inputEmail4" class="form-label">User name</label>
<input name="username" type="text" class="form-control" id="">
</div>
<div class="col-md-6">
<label for="inputPassword4" class="form-label">Password</label>
<input name="password" type="password" class="form-control"
id="inputPassword4">
</div>
<div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    <input name="confirm_password" type="password" class="form-control"
    id="inputPassword4">
    </div>
<div class="col-12">
<button type="submit" class="btn btn-success btnlg">REGISTER/SIGN-UP</button>
</div>
</form>
<div class="form-group">
{% for message in messages %}
<div class="alert alert-danger" role="alert">
{{message}}
</div>
{% endfor %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-
beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"></script>
</body>
</html>